@-webkit-keyframes poof {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes poof {
  from {opacity: 0;}
  to {opacity: 1;}
}

.opt-1 {
  -webkit-animation-name: poof;
  animation-name: poof;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.opt-1.overlay  {
  width: 100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.opt-1.content {
  width: 80%;
  max-width: 768px;
  height: auto;
  max-height: 90vh;
  overflow: auto;
  background: white;
  position: relative;
  z-index: 11;
}

.opt-1.sugg { 
  height: auto;
}

.opt-1.suggestions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.opt-1.tile {
  height: 40%;
  margin: 0 40px 0 40px;
  width: 200px;
  text-align: center;
  font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.opt-1.tile img {
  width: 200px;
  display: block;
  margin-bottom: 15px;
}

.opt-1.tile .item-name {
  font-weight: bold;    
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#remaining {
  color:  #59b7b3;   
}

.opt-1.tile .final-pricing {
  color: red;
  margin-right: 5px;
}

.opt-1.tile .slashed-pricing {

  text-decoration: line-through;   
}

.opt-1.head {
  height: 90px;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.opt-1.big-un {
  height:75%;
  margin-top: 5px;
}

.opt-1.subhead {
  height: auto;
  padding: 5px 0 5px 0;
  background-color: #59b7b3;    
  color: #fff;
  font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.opt-1.subhead{
  clear: both;
}

.opt-1 .inner-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.opt-1.inner-content .top-wrap{
  margin: auto;
  margin: 10px 0 20px 0;
}

.opt-1.inner-content .top-wrap .top{ 
  margin-top: 20px;
    font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #59b7b3;
  font-size: 40px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #59b7b3;
  width: 100%;
  text-align: center;
}

.opt-1.inner-content .top-wrap .bottom{ 
  font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 35px;
  width: 100%;
  text-align: center;
}


.opt-1.tick img{
  width: 15px;
  height: 15px;
  margin-right: 5.25px;
  display: inline-block;
}


.opt-1.cross {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.opt-1.cross:hover {
  opacity: .8;
}

.opt-1.cross:before,.opt-1.cross:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 4px;
  background-color: white;
}

.opt-1.cross:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.opt-1.cross:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.opt-1.button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.opt-1.button-wrapper .cont{
  margin-right: 3%;
  font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #eeeeee;
  color:  #59b7b3;   
  font-size: 20px;
  height: 70px;
  padding-top: 10px;
  width: 35%;
  font-weight: 100;
  border: 0;
  border-bottom-style: solid;
  border-color: #bbbbbb;
  border-width: 8px;
}


.opt-1.button-wrapper .cont:hover{
	background-color: transparent;
  color: #999999;
  border: 2px solid #bbbbbb;
}

.opt-1.button-wrapper img{
  margin-right: 10px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.opt-1.button-wrapper .checkout {
  margin-left: 3%;
  font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #59b7b3;
  color:  white;
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  height: 70px;
  width: 35%;
  border: 0;
  border-bottom-style: solid;
  border-color: #498783;
  border-width: 8px;
}


.opt-1.button-wrapper .checkout:hover{
  background-color: transparent;
  color: #59b7b3;
  border: 2px solid #59b7b3;
}

.ticks {
  font-family: 'FontAwesome' !important; 
  font-style: italic;
  margin: 0 10px 0 10px;
}

.opt-1.button-wrapper .cont .ticks {
  display: inline-block;
  -webkit-transform:  scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.ticks:before {
  content: "\f105";
}


.hidden {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 1348px) {
  .opt-1.content {
    width: 90%;   
  }
}

@media (max-width: 1187px) {
  .opt-1.button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;

  }

  .opt-1.button-wrapper .cont, .opt-1.button-wrapper .checkout {
    font-size: 30px;
    margin:0;
    height: 70px;
    margin-bottom: 20px;
    width: 65%;
  }

  .opt-1.button-wrapper .cont .ticks, .opt-1.button-wrapper .checkout .ticks{
    display: none;
  }
}



@media (max-width: 880px) {
  .opt-1.suggestions a:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 680px) {
  .opt-1.inner-content .top-wrap .bottom {
   	font-size: 30px; 
  }
  
  .opt-1.inner-content .top-wrap .top {
   	font-size: 55px; 
  }
  
  .opt-1.button-wrapper .cont, .opt-1.button-wrapper .checkout{
    font-size: 20px;
  }
}


@media (max-width: 470px) {
  .opt-1.cross {
    right: 5px;
    top: 10px;
  }
  
  .opt-1.head {
    height: 70px;
  }
  
  .opt-1.big-un {
   	height: auto;
    width: 70%;
  }
  
  .opt-1.tick img {
  	display: none;  
  }
  
  .opt-1.subhead .addmess {
   	text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
  }
  
  .opt-1.inner-content .top-wrap {
   	margin-bottom: 0; 
  }
  
  .opt-1.inner-content .top-wrap .bottom {
   	font-size: 15px; 
  }
  
  .opt-1.inner-content .top-wrap .top {
    margin-top: 0;
   	font-size: 30px;
    -webkit-text-stroke-width: 1px;
  }
  
  .opt-1.button-wrapper {
    margin-bottom: 5px;
  }	
  
  .opt-1.button-wrapper .cont, .opt-1.button-wrapper .checkout{
    font-size: 14px;
    height: 45px;
    margin-bottom: 10px;
  }
  
  .opt-1.tile {
   	margin: 0 20px 0 20px;
    width: 100px; 
    font-size: 10px;
  }
  
  .opt-1.tile .item-name {
    width: 100px;
  }
  
  .opt-1.tile img {
   	width: 100px; 
  }
  
  .opt-1.suggestions {
    margin-bottom: 15px; 
  }
}




