.opt-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 9001;
	top: 0px;
}
.opt-modal-wrap {
	z-index: 9002;
}
.opt-modal {
	position: absolute;
	background-color: white;
	width: 70%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	z-index: 9002;
	text-align: left;
	padding: 34px;
	max-width: 804px;
}
.opt-modal h1 {
	text-align: center;
}
.opt-modal .row {
	max-width: initial;
}
.opt-close {
	position: absolute;
	top: 0;
	right: 10px;
	color: black;
	font-family: arial;
	font-size: 40px;
  cursor: pointer;
}
#optReadMore {
	background-color: #59b7b3;
	color: white;
	margin: auto;
	display: block;
	min-width: 162px;
	padding: 12px 0;
}
#optReadMore:hover {
	background-color: transparent;
	color: #59b7b3;
}
.home-head-trust li {
	margin: 4px auto;
}
.home-head-trust li:nth-child(1) {
	padding-right: 16px;
  text-align: right;
}
.home-head-trust li:nth-child(2) {
	text-align: left;
	padding-left: 16px;
	border-left: 1px solid lightgrey;
  cursor: pointer;
}
.home-head-trust li.optCenter {
	text-align: center;
  padding: 0;
  cursor: pointer;
}
.optSplit {
	color: #4FAEAA !important;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.optSplit img {
	margin-right: 10px;
	height: 14px;
}
.optContainer * {
	margin: 0;
	padding: 0;
}
.optContainer {
  cursor: pointer;
	max-width: 182px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #4FAEAA;
	margin:auto;
	margin-bottom: 17px;
}
.optContainer .optTop {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: 'BrainFlower', 'Comic Sans MS', 'Comic Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 32px;
}

.optContainer img {
	width: 45px;	
}

.optContainer .optBottom {
	font-size: 10px;	
	font-weight: 400;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.optUnder {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #4FAEAA;
	font-weight: 400;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.optUnder img {
	margin-right: 5px;	
	width: 24px;
}

@media (max-width: 687px) {
	.opt-modal {
		position: fixed;
		width: 80%;
		top: 40px;
		-webkit-transform: initial;
		-ms-transform: initial;
		transform: initial;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		overflow-y: scroll;
	}
	.opt-modal-content {
		height: 80vh;
	}
}

@media (max-width: 500px) {
	.optContainer {
		display: none;
	}	
}