
<div class='opt-overlay'>
    <div class='opt-modal'>
        <div class='opt-close'>X</div>
        <div class='opt-modal-content'>
            <h1>RETURNS</h1>
            <div class="returns-container">
                <p>Things not quite right? All good!&nbsp;We know that sometimes an item may not fit or be right.</p>
                <p>If you're not 100% satisfied with your purchase, you can return your item(s) in-store or online within 30 days of the order receipt and we will be happy to provide you with an exchange, store credit or refund.</p>
                <!-- CONDITIONS FOR RETURNS BLOCK // --> <div class="widget block block-static-block">
                    <!-- CUSTOM STYLING // -->
                
                <style type="text/css">.returns-container-account img{max-width:45px}.returns-container-account .center{text-align:center}.returns-container-account h3{margin:20px 0 20px 15px}.grey-bg{background-color:#f9f9f9;padding:4% 2% 2% 2%;margin:1%;width:31%;min-height:270px}@media screen and (max-width:686px){.grey-bg{background-color:#f9f9f9;padding:4% 2% 2% 2%;margin:2% 1%;width:96%}}</style>
                
                <!-- MY ACCOUNT RETURNS CONTENT // -->
                <div class="row" style="margin-bottom: 30px;">
                    <div class="returns-container-account">
                        <h3>3 SIMPLE CONDITIONS FOR A SUCCESSFUL RETURN</h3>
                        <div class="center">
                            <div class="column large-4 small-6 medium-6 grey-bg">
                                <img style="margin-bottom: 15px" src="/media/wysiwyg/icons/x1488795514_number-one.png.pagespeed.ic.X0q6mijgaJ.png">
                                <p><strong>RETURNED WITHIN 30 DAYS OF PURCHASE</strong></p>
                                <p>Item(s) were purchased in the last 30 days and proof of purchase can be provided.</p>
                            </div>
                            <div class="column large-4 small-6 medium-6 grey-bg">
                                <img style="margin-bottom: 15px" src="/media/wysiwyg/icons/x1488795518_number-two.png.pagespeed.ic.E0WdoKW2wu.png">
                                 <p><strong>ITEM(S) ARE UNWORN &amp; UNDAMAGED</strong></p>
                                <p>Item(s) must be unworn, unwashed, or otherwise undamaged with original tags attached</p>
                            </div>
                            <div class="column large-4 small-6 medium-6 grey-bg">
                                <img style="margin-bottom: 15px" src="/media/wysiwyg/icons/x1488795523_number-three.png.pagespeed.ic.3neMWOKekU.png">
                                <p><strong>IN ORIGINAL PACKAGING AND CONDITION</strong></p>
                                <p>Item(s) are in original packaging or shoe box in their original condition</p>
                            </div>
                        </div>
                    </div>
                </div></div>
                 <!-- STEPS TO RETURN ACCORDION // --> <div class="widget block block-static-block">
                    <div id="return-steps-accordion" class="accordion js-accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <div class="item title ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-return-steps-accordion-header-0" aria-controls="ui-accordion-return-steps-accordion-panel-0" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                        <div class="switch">
                            <h3>HOW TO RETURN YOUR ITEM:</h3>
                        </div>
                    </div>
                
                    <!-- STEPS TO RETURN ITEM // -->
                     <div class="item content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-return-steps-accordion-panel-0" aria-labelledby="ui-accordion-return-steps-accordion-header-0" role="tabpanel" aria-hidden="true" style="display: none;">
                        <p>You can return any item to us in-store, just be sure to meet the conditions above and bring your proof of purchase. <a href="/stores">Find your nearest store here</a>. To return to our online store:</p>
                        <ol>
                            <li>Ensure you meet our 3 simple conditions for successful returns.</li>
                            <li>Log into <span><a href="/rma/returns/history/">My Account</a></span> to book your return. If you checked out as a guest, use our <span><a href="/sales/guest/form">Guest Returns Form here</a>.</span></li>
                            <li>Select your preferred returns method; Courier Pickup or Australia Post Drop Off.</li>
                            <li>Complete and submit the form online.</li>
                            <li>Print the provided shipping label and attach to package. We do recommend using a device such as a desktop computer that is connected to a printer for this step.</li>
                            <li>Drop the parcel off or have it picked up - depending which method you choose.</li>
                        </ol>
                        
                        <h3>WHATS NEXT?</h3>
                        <p>Please allow time for your return to reach our fulfilment centre. This time may vary depending on your location.</p>
                        <p>If approved, refunds are carried out within 48 hours of receiving the return and you will be notified via email. Depending on your bank, your refund may take 2-3 working days to process.</p>
                        <p>For further help, please contact our great <a href="/contact">customer service team here</a>.</p>
                    </div>
                </div></div>
                </div>
        </div>
    </div>
</div>