.opt-1 #opc-delivery_notes .opt-carefulcontainer {
    border-top: 0; 
}


.opt-1 .page-header {
   max-width: initial;
}

.opt-1 .opt-tabletshow {
   display: none;
}
.opt-1 .opt-back-link a {
   color: white;   
}
.opt-hide {
   display: none;
}
.header-item.menu._left {
   display: none;
}
.opt-left {
   width: 50%;
}
.fieldset .field input[type="checkbox"] + label:before,
.delivery-block .field input[type="checkbox"] + label:before,
.shipping-availability .field input[type="checkbox"] + label:before {
   border-radius: 2px;
}

.fieldset .field.required > .label:after,
.fieldset > .fields > .field.required > .label:after,
.fieldset .field._required > .label:after,
.fieldset > .fields > .field._required > .label:after,
.delivery-block .field.required > .label:after,
.delivery-block .field._required > .label:after,
.shipping-availability .field.required > .label:after,
.shipping-availability .field._required > .label:after {
   display: none;
}


.checkout-container .table-totals .amount {
   padding-top: 10px;
}



/** HEADER **/
.opt-1 .nav-sections {
   display: none;
}

.opt-1 .header .header-item.minicart {
   display: none;
}

.opt-1 .page-header .header.content {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   max-width: 1440px;
}

.opt-1 .header > .logo {
   margin: 0 auto;
}

.opt-1 .opt-back-link {
   position: absolute;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   color: white;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   padding-left: 22px;
   margin-left: 30px;
   font-weight: bold;
}

.opt-1 .opt-back-link img {
   display: none;
}

.opt-1 .opt-back-link a:after {
   content: "";
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5LjYwMyA1LjkyMiI+PHBhdGggZmlsbD0iIzU5QjdCMyIgZD0iTTkuNjAzIDEuMTJMOC40OCAwIDQuOCAzLjY4IDEuMTIzIDAgMCAxLjEybDQuOCA0LjgwMiIvPjwvc3ZnPg==);
   color: white;
   -webkit-filter: brightness(0)invert(1);
   filter: brightness(0)invert(1);
   -webkit-background-size: 15px 15px;
   background-size: 15px 15px;
   background-position: center center;
   width: 20px;
   height: 20px;
   position: absolute;
   left: -12px;
   top: 0;
   margin-top: -2px;
   background-repeat: no-repeat;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg)
}

.opt-1 .messages {
   margin-bottom: 10px;
}
.opt-1 .opt-hidden {
   visibility: hidden;
   height: 0px !important;
   line-height: 0px !important;
   max-height: 0px !important;
   max-width: 0px !important;
   overflow: hidden;
   padding: 0px !important;
   margin: 0px !important;
   pointer-events: none;
   border: none !important;
}
.opt-1 .opt-freeze div {
   cursor: progress !important;
   position: relative;
}
.opt-1 .opt-freeze div:after {
   content: " ";
   height: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.6)
}
.opt-1 .opt-freeze div:before {
   content: " ";
   height: 100%;
   width: 100%;
   background-image: url("https://www.platypusshoes.com.au/static/version1534159831/frontend/Ewave/platypus/en_AU/images/loader-2.gif");
   -webkit-background-size: 50% auto;
   background-size: 50% auto;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0px;
   z-index: 1;
   top: 0px;
   display: inline-block;
}
.opt-1 .page-title,
.opt-1 .opc-progress-bar {
   display: none;
}
.opt-1 #checkoutSteps > li {
   display: block !important;
}
.opt-1 .checkout-container,
.opt-1.checkout-index-index .column.main {
   max-width: 1640px;
   padding: 0 25px;
}
.opt-1 #checkout[data-state="0"] .form-shipping-address,
.opt-1 #checkout[data-state="0"] #opc-delivery_notes,
.opt-1 #checkout[data-state="0"] #payment,
.opt-1 #checkout[data-state="0"] #shipping .step-title {
   display: none !important;
}
.opt-1 #checkout[data-state="0"] .opt-breadcrumb .opt-item span {
   color: rgba(0, 0, 0, 0.1);
}
.opt-1 #checkout[data-state="0"] .opt-breadcrumb .opt-item .opt-icon {
   position: relative;
}











/** Footer **/
.footer.content .footer-block.columns {
   display: none;
}











/** breadcrumb */
.opt-breadcrumb {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   padding: 20px 0;
   border-right: none;
   border-left: none;
   margin: 30px 0;
   position: relative;
}

.opt-breadcrumb:after {
   content: "";
   position: absolute;
   -webkit-transform: translatey(-50%);
   -ms-transform: translatey(-50%);
   transform: translatey(-50%);
   width: 100%;
   height: 1px;
   background: black;
   right: 0;
   top: 50%;
   z-index: -1
}

.opt-breadcrumb .opt-item {
   background: white;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   padding: 0 10px;
}

.opt-breadcrumb .opt-item:first-of-type {
   padding-left: 0;
}
.opt-breadcrumb .opt-item:last-of-type {
   padding-right: 0;
}

.opt-breadcrumb .opt-item .opt-icon {
   margin-right: 20px;
}
.opt-breadcrumb .opt-item span {
   font-size: 30px;
   line-height: 34px;
   text-align: center;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   font-weight: 700;
}












/** login */
.opt-1 .secure-pay-wrapper .info-block {
   display: none;
}

.opt-1 .checkout-payment-method .payment-method-content {
   margin-bottom: 20px;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block img {
   min-width: 93px;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 10px;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block > div {
   display: inline;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block > div:last-child {
   width: 100%;
   -webkit-box-ordinal-group: 4;
   -webkit-order: 3;
   -ms-flex-order: 3;
   order: 3;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block p {
   margin-bottom: 0px;
   color: #4B4B4C;
   font-size: 14px;
   line-height: 22px;
   margin-top: 10px;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block p br {
   display: none;
}
.opt-1.checkout-index-index .secure-pay-wrapper .trust-block > .trust-label {
   display: block;
   padding-left: 0px;
   text-align: center;
   margin-bottom: 8px;
   -webkit-box-ordinal-group: 3;
   -webkit-order: 2;
   -ms-flex-order: 2;
   order: 2;
   margin-left: 10px;
}

.opt-1 .checkout-payment-method .payment-method-content #co-transparent-form-braintree .fieldset > .field {
   margin-bottom: 0px;
}
.opt-1 #checkout-payment-method-load #co-transparent-form-braintree .fieldset .field:not(.choice) > .label {
   margin-bottom: 0px;
   -webkit-transform: none;
   -ms-transform: none;
   transform: none;
}
.opt-1 .form-braintree .hosted-control {
   background-color: white;
}
.opt-1.logged-user #checkout[data-state="1"] #shipping > .step-title {
   display: none !important;
}
.opt-1.logged-user .newsletter-signup {
   display: none !important;
}
.opt-1 .opc-wrapper .shipping-address-items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}
.opt-1 .opc-wrapper .shipping-address-item {
   width: 100% !important;
   padding: 13px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-box-orient: vertical;
   -webkit-box-direction: reverse;
   -ms-flex-direction: column-reverse;
   -webkit-flex-direction: column-reverse;
   flex-direction: column-reverse;
   font-size: 12px;
   line-height: 17px;
   min-height: 130px;
   border: 1px solid #cfcfcf;
}
.opt-1 .opc-wrapper .shipping-address-items > label {
   display: none;
}
.opt-1 .action-select-shipping-item {
   font-size: 12px;
   font-weight: bold;
   line-height: 17px;
   margin-top: 0px;
   text-align: left;
   margin-bottom: 8px;
}
.opt-1 .opc-wrapper .shipping-address-item.selected-item .action-select-shipping-item {
   visibility: visible;
   text-decoration: none;
}
.opt-1 .opc-wrapper .shipping-address-item.selected-item .action-select-shipping-item:after {
   content: "Selected Address";
   pointer-events: none;
   color: #59B7B3 !important;
   text-decoration: none;
   border-bottom: none;
}
.opc-wrapper .shipping-address-item.selected-item .action-select-shipping-item span {
   display: none;
}

.opt-1 #checkout button.facebook {
   font-size: 15px;
   line-height: 21px;
   text-align: center;
   margin-bottom: 15px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 20px 17px;
}

.opt-1 #checkout button.facebook svg {
   margin-right: 10px;
   width: 15px;
}
.opt-1 #checkout .or-separator {
   text-transform: uppercase;
}
.opt-1 #checkout .or-separator:before,
.opt-1 #checkout .or-separator:after {
   border: 1px solid #979797;
}

.opt-1 .field-tooltip.toggle {
   right: 16px;
}
.opt-1 .opc-wrapper .form-login .fieldset .note {
   font-size: 12px;
   line-height: 17px;
   color: #000000;
}
.opt-1 #checkout[data-state="0"] #shipping {
   max-width: 360px;
   margin: 0 auto;
}
.opt-1 #checkout-newsletter-signup {
   display: none;
}
.opt-1 label[for="checkout-newsletter-signup"] {
   position: relative;
   padding-left: 50px;
   min-height: 35px;
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}
.opt-1 .newsletter-signup span {
   display: block;
   line-height: 18px;
}
.opt-1 .field input[type="checkbox"]:checked + label:after {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3Ljg1IiBoZWlnaHQ9IjYuMzUiIHZpZXdCb3g9IjAgMCA3Ljg1IDYuMzUiPjxwYXRoIGZpbGw9IiM1OUI3QjMiIGQ9Ik02LjQxIDBMMi45NCAzLjUgMS40MSAyIDAgMy40MWwyLjkxIDIuOTQgNC45NC00Ljk0TDYuNDEgMCIvPjwvc3ZnPg==);
   -webkit-filter: brightness(0)invert(1);
   filter: brightness(0)invert(1);
   -webkit-background-size: 21px;
   background-size: 21px;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.opt-1 .field input[type="checkbox"]:checked + label:before {
   background: #59B7B3;
   border: #59B7B3;
}

.opt-1 label[for="checkout-newsletter-signup"]:before {
   border: 1px solid #c7c7c7;
}

.opt-1 label[for="checkout-newsletter-signup"]:before,
label[for="checkout-newsletter-signup"]:after {
   width: 25px;
   height: 25px;
   margin-top: -12.5px;
   top: 17px;
   position: absolute;
   left: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   content: "";
}
.opt-1 .opt-login-continue {
   background-color: #59B7B3;
   height: 55px;
   text-align: center;
   cursor: pointer;
}

.opt-1 .opt-login-continue:hover {
   background-color: #a0d6d4;
}

.opt-1 .opt-login-continue span {
   font-size: 19px;
   line-height: 55px;
   color: white;
   text-transform: uppercase;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: bold;
}




/** shipping **/
.opt-1 .note-logged {
   display: none !important;
}
.opt-1 .opc-wrapper .form-login .actions-toolbar > .primary {
   float: right;
   padding: 0px;
}
.opt-1 .opc-wrapper .form-login .actions-toolbar > .secondary {
   float: left;
   padding: 0px;
   text-align: left;
}
.opt-1.logged-user #checkout[data-state="1"] #checkout-step-shipping > *,
.opt-1.logged-user #checkout[data-state="1"] #customer-email-fieldset > div.field.required.custom.ready.filled > div > span {
   display: block;
}

.opt-1 #checkout[data-state="1"] #checkout-step-shipping .form-login {
   display: block;
}

.opt-1 #checkout[data-state="1"] #co-shipping-form {
   display: block !important;
}
.opt-1 #checkout[data-state="1"] #payment {
   -webkit-box-ordinal-group: 3;
   -ms-flex-order: 2;
   -webkit-order: 2;
   order: 2;
}
.opt-1 #checkout[data-state="1"] #checkoutSteps > li {
   width: 50%;
   margin: 0px;
   padding-left: 30px;
   padding-right: 30px;
}
.opt-1 #checkout[data-state="1"] #checkoutSteps > li.checkout-payment-method {
   padding-right: 0;
}
.opt-1 #checkout[data-state="1"] .opc-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.opt-1 #checkout[data-state="1"] #checkoutSteps {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   max-height: initial !important;
   /*-ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
   max-height: 1028px;
   min-height: 1160px;*/
   width: 66%;
}
.opt-1.opt1-login #checkout[data-state="1"] #checkoutSteps,
.opt-1.opt1-login #checkout[data-state="2"] #checkoutSteps {
   min-height: 760px !important;
}

.opt-1.opt1-login .opc-wrapper .edit-address-link {
   right: 5px;
}
.opt-1 #checkout[data-state="1"] #shipping > .step-title {
   display: none;
}

.opt-1 #checkout[data-state="1"] #shipping-new-address-form > div:nth-child(12) > div > small {
   display: none;
}

.opt-1 #checkout[data-state="1"] .fieldset {
   margin-bottom: 0px;
}

.opt-1.checkout-index-index #checkout[data-state="1"] .column.main {
   padding-left: 25px;
   padding-right: 25px;
}
.opt-1 #checkout[data-state="1"] #payment {
   position: relative;
}













/** payment **/
.payment-method-billing-address .actions-toolbar .action-cancel {
   cursor: pointer;
   color: #59B7B3;
   font-family: "Open Sans";
   font-size: 14px;
   text-transform: initial;
   font-weight: initial;
}
.checkout-payment-method .payment-methods .actions-toolbar .primary {
   float: left;
}
.checkout-payment-method .payment-method-title label[for="paypal_express"] li {
   max-width: 80px;
   margin-right: 10px;
}
.checkout-payment-method .payment-method-title label[for="paypal_express"] .payment-icon {
   min-width: 80px;
}
.opt-1 #afterpaypayovertime-method > div.payment-method-title.field.choice,
.opt-1 #checkout-payment-method-load > div > div > div.payment-method.item > div.payment-method-title.title.field.choice._clearfix {
   padding-top: 20px;
   padding-bottom: 15px;
}
.opt-1 #afterpaypayovertime-method > div.payment-method-title.field.choice > div {
   display: none;
}
.opt-1 #afterpaypayovertime-method > div.payment-method-title.field.choice > label > span {
   display: none;
}
.opt-1 #checkout-payment-method-load > div > div > div.payment-method.item > small {
   display: none;
}
.opt-giftcard-promo-container {
   margin-bottom: 10px;
}
.checkout-payment-method .discount-code,
.checkout-payment-method .giftcardaccount,
.paypal-review.view .discount-code,
.paypal-review.view .giftcardaccount {
   padding-top: 10px;
}
#giftcard-form > div.actions-toolbar.large-6.small-12._right > div > button {
   line-height: initial;
}
#giftcard-form > div.payment-option-inner.large-6.small-12._left > div.primary._right {
   margin-top: 25px;
   margin-left: 10px;
}
#giftcard-form > div.payment-option-inner.large-6.small-12._left > div.primary._right button {
   border-width: 1px;
   width: 120px;
}

.opt-dropdown-title {
   position: relative;
   background-color: #F5F5F5;
   padding: 15px;
   cursor: pointer;
}

.opt-1 #giftcard-form > div.payment-option-inner.large-6.small-12._left > div.field.medium-3.small-12._left .detail-label {
   visibility: hidden
}

.checkout-payment-method .discount-code .detail-label:first-child,
.checkout-payment-method .giftcardaccount .detail-label:first-child,
.paypal-review.view .discount-code .detail-label:first-child,
.paypal-review.view .giftcardaccount .detail-label:first-child {
   text-transform: uppercase;
}

.opt-dropdown-title span {
   font-size: 15px;
   line-height: 17px;
   font-weight: 700;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.opt-giftcard-promo-dropdown {
   max-height: 0px;
}

.opt-active .opt-giftcard-promo-dropdown {
   max-height: 650px;
}

.opt-dropdown-title:after {
   content: " ";
   position: absolute;
   right: 15px;
   top: 50%;
   -webkit-transform: translate(0%, -50%);
   -ms-transform: translate(0%, -50%);
   transform: translate(0%, -50%);
   height: 15px;
   width: 15px;
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5LjYwMyA1LjkyMiI+PHBhdGggZmlsbD0iIzU5QjdCMyIgZD0iTTkuNjAzIDEuMTJMOC40OCAwIDQuOCAzLjY4IDEuMTIzIDAgMCAxLjEybDQuOCA0LjgwMiIvPjwvc3ZnPg==);
   -webkit-background-size: 15px 15px;
   background-size: 15px 15px;
   background-position: center center;
   background-repeat: no-repeat;
}

.opt-active .opt-dropdown-title:after {
   -webkit-transform: rotate(180deg) translate(0%, 50%);
   -ms-transform: rotate(180deg) translate(0%, 50%);
   transform: rotate(180deg) translate(0%, 50%);
}
.discount-code .payment-option-title {
   padding-top: 0px !important;
}
.checkout-payment-method .discount-code._collapsible .payment-option-title,
.checkout-payment-method .giftcardaccount._collapsible .payment-option-title,
.paypal-review.view .discount-code._collapsible .payment-option-title,
.paypal-review.view .giftcardaccount._collapsible .payment-option-title {
   cursor: initial;
}
.opt-1 .checkout-payment-method .discount-code .payment-option-inner {
   width: 100%;
}
.opt-1 .checkout-payment-method .discount-code {
   margin-bottom: 1px;
}
.opt-1 .checkout-payment-method .discount-code .gift-hint,
.checkout-payment-method .giftcardaccount .gift-hint {
   border-bottom: none;
   padding-bottom: 0px;
}

.opt-1 .payment-option-content {
   display: block !important;
}
.opt-1 .checkout-payment-method .discount-code .payment-option-inner,
.opt-1 .checkout-payment-method .giftcardaccount .payment-option-inner {
   margin-bottom: 0px;
}
.opt-1 .checkout-payment-method .discount-code._active .payment-option-title .action-toggle:after,
.opt-1 .checkout-payment-method .giftcardaccount._active .payment-option-title .action-toggle:after,
.paypal-review.view .discount-code._active .payment-option-title .action-toggle:after,
.paypal-review.view .giftcardaccount._active .payment-option-title .action-toggle:after,
.opt-1 .abs-payment-additional-collapsible > .payment-option-title .action-toggle:after,
.checkout-payment-method .discount-code > .payment-option-title .action-toggle:after,
.checkout-payment-method .giftcardaccount > .payment-option-title .action-toggle:after,
.paypal-review.view .discount-code > .payment-option-title .action-toggle:after,
.paypal-review.view .giftcardaccount > .payment-option-title .action-toggle:after {
   display: none;
}
.checkout-payment-method .discount-code > .payment-option-title .action-toggle,
.checkout-payment-method .giftcardaccount > .payment-option-title .action-toggle {
   color: #59b7b3;
}
.opt-1 #checkout[data-state="2"] #shipping > .step-title {
   display: none;
}
.opt-1 #discount-form > div.actions-toolbar._right {
   margin-top: 0px;
   float: right !important;
}
.opt-1 #checkout[data-state="2"] #shipping-new-address-form > div:nth-child(12) > div > small {
   display: none;
}

.opt-1 #checkout[data-state="2"] #checkout-step-shipping > *,
.opt-1 #checkout[data-state="2"] #customer-email-fieldset > div.field.required.custom.ready.filled > div > span {
   display: none;
}
.opt-1.logged-user #checkout[data-state="2"] #checkout-step-shipping > * {
   display: block;
}

.opt-1 #checkout[data-state="2"] #checkout-step-shipping .form-login {
   display: block;
}

.opt-1 #checkout[data-state="2"] #co-shipping-form {
   display: block !important;
}
.opt-1 #checkout[data-state="2"] #payment {
   -webkit-box-ordinal-group: 3;
   -ms-flex-order: 2;
   -webkit-order: 2;
   order: 2;
}
.opt-1 #checkout[data-state="2"] #checkoutSteps > li {
   width: 50%;
   margin: 0px;
   padding-left: 25px;
   padding-right: 25px;
}
.opt-1 #checkout[data-state="2"] .opc-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.opt-1 #checkout[data-state="2"] #checkoutSteps {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-box-align: end;
   -ms-flex-align: end;
   -webkit-align-items: flex-end;
   align-items: flex-end;
   max-height: 1028px;
   min-height: 1100px;
   width: 66%;
}
.opt-1 #checkout[data-state="2"] #shipping > .step-title {
   display: none;
}

.opt-1 #checkout[data-state="2"] #shipping-new-address-form > div:nth-child(12) > div > small {
   display: none;
}

.opt-1 #checkout[data-state="2"] .fieldset {
   margin-bottom: 0px;
}

.opt-1.checkout-index-index #checkout[data-state="2"] .column.main {
   padding-left: 25px;
   padding-right: 25px;
}
.opt-1 #checkout[data-state="2"] #shipping,
.opt-1 #checkout[data-state="2"] #opc-delivery_notes {
   position: relative;
}
.opt-1 #checkout[data-state="2"] #shipping:before,
.opt-1 #checkout[data-state="2"] #opc-delivery_notes:before {
   content: " ";
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.7);
   z-index: 2;
}

.opt-1 #payment .step-title {
   display: none;
}

.opt-ccvtooltip {
   display: inline-block;
   text-align: right;
   float: right;
   font-size: 12px;
   color: #434343;
   cursor: pointer;
   z-index: 99;
   position: relative;
}

.opt-5 #braintree_cc_type_cvv_div .hosted-error {
   margin-top: 25px;
   z-index: -1;
}









/** Modal**/
.opt-overlay {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   position: fixed;
   z-index: 9001;
   top: 0px;
}

.opt-modal {
   position: absolute;
   background-color: white;
   width: 80%;
   max-width: 600px;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: 40px;
}

.opt-modal .opt-modal-header {
   margin-bottom: 24px;
   font-size: 20px;
   font-weight: bold;
   color: #434343;
}

.opt-modal .opt-modal-buttons {
   width: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.opt-modal .opt-modal-buttons button {
   width: 100%;
   max-width: 250px;
   font-size: 16px;
   margin: auto;
   background-color: #34BAB4;
   color: white;
   border: 2px solid #34BAB4;
}

.opt-modal .opt-close {
   position: absolute;
   top: -30px;
   right: 0px;
   width: 20px;
   height: 20px;
   font-size: 20px;
   color: white;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-align: center;
   cursor: pointer;
   padding: 10px;
}

.opt-modal .opt-close:after,
.opt-modal .opt-close:before {
   content: "";
   width: 20px;
   height: 2px;
   background: white;
   position: absolute;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   right: 0;
   top: 10px;
}

.opt-modal .opt-close:before {
   -webkit-transform: rotate(135deg);
   -ms-transform: rotate(135deg);
   transform: rotate(135deg);
}

.opt-modal .opt-modal-buttons button.opt-modal-back-to-cart {
   background-color: white;
   color: #34BAB4;
}











/** Inputs **/
.opt-1 .opt-form-title {
   margin-bottom: 10px;
}

.opt-1 .opt-bag-container .opt-form-title {
   display: inline-block;
}
.opt-1 .opt-form-title .opt-step-number {
   display: none !important;
   height: 33px;
   width: 33px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   color: #34BAB4;
   border: 1px solid #34BAB4;
   border-radius: 50%;
   font-weight: bold;
   font-size: 20px;
}

.opt-1 .opt-form-title .opt-title {
   font-size: 16px;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   font-weight: 700;
}

.opt-1 .opc-wrapper .fieldset .field:not(.choice) > .label,
.opt-1 .opc-wrapper .delivery-block .field:not(.choice) > .label,
.opt-1 .opc-wrapper .shipping-availability .field:not(.choice) > .label {
   color: #434343;
   font-size: 14px;
   line-height: 17px;
   font-weight: normal;
   font-family: "Open Sans";
   text-transform: initial;
}

.opt-1 div.mage-error[generated] {
   font-family: "Open Sans";
   font-size: 12px;
   text-transform: initial;
   text-align: right;
}

/* .opt-1 div.mage-error[generated]:before {
   display: none;
} */
.opt-1 div[name="shippingAddress.telephone"] small,
.opt-1 div[name="billingAddressbraintree.telephone"],
.opt-1 div[name="shippingAddress.country_id"] {
   display: none;
}

.opt-1 .fieldset .field.custom input,
.opt-1 .delivery-block .field.custom input,
.opt-1 .shipping-availability .field.custom input,
.opt-1 .fieldset .field select,
.opt-1 .delivery-block .field select,
.opt-1 .shipping-availability .field select {
   border: 1px solid #E6E6E6;
}

.opt-1 .field._error .control input,
.opt-1 .field._error .control select,
.opt-1 .field._error .control textarea {
   border: 1px solid #E02E2B;
}

.opt-1 .fieldset .field.filled > .label,
.opt-1 .delivery-block .field.filled > .label,
.opt-1 .shipping-availability .field.filled > .label,
.opt-1 .fieldset .field.filled > .label,
.opt-1 .delivery-block .field.filled > .label,
.opt-1 .shipping-availability .field.filled > .label {}


.fieldset .field.filled > .label,
.delivery-block .field.filled > .label,
.shipping-availability .field.filled > .label {
   -webkit-transform: translate(0, -20px) scale(.75, .75);
   -ms-transform: translate(0, -20px) scale(.75, .75);
   transform: translate(0, -20px) scale(.75, .75);
   color: #9A9A9A !important;
   font-weight: 100 !important;
   font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
   letter-spacing: 1px;
}

.checkout-index-index .fieldset.address .field.phone-region {
   display: none;
}


.checkout-index-index .fieldset.address .field.phone-region + .field[name$=telephone] {
   width: 100%;
   padding-left: 0;
}

.checkout-index-index .fieldset.address .field.phone-region + .field[name$=telephone] label {
   left: 12px !important;
}

.opt-phone-message {
   display: none;
}

.opt-1 .opt-DeliveryMethod-Cont .opt-heading {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.opt-1 .opt-DeliveryMethod-Cont .opt-heading .opt-title {
   font-size: 16px;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   font-weight: 700;
}
.opt-1 #opt-DeliveryMethod-Edit,
.opt-bag-container .opt-form-title a {
   cursor: pointer;
   color: #59B7B3;
   font-family: "Open Sans";
   font-size: 14px;
}

.opt-1 #opt-DeliveryMethod-Edit {
   float: right;
}
.opt-1 .opt-DeliveryMethod-Cont {
   margin-top: -10px;
}
.opt-1 .opt-DeliveryMethod-Cont .opt-delivery-container {
   border: 1px solid #cfcfcf;
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.opt-1 .opt-DeliveryMethod-Cont .opt-delivery-line:not(.opt-hide) {
   line-height: initial;
   height: initial;
   min-height: initial;
   max-height: initial;
   font-size: initial;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.opt-1 .opt-DeliveryMethod-Cont .opt-delivery-container p {
   margin: 5px 0;
   line-height: initial;
   height: initial;
   margin-left: 20px;
}

.opt-1 .authoritytoleave-checkbox label span {
   display: none;
}
.checkout-index-index .authoritytoleave-note {
   margin-top: -15px;
   font-size: 14px;
}

.opt-1 .filled:not(._error) .input-text[aria-invalid="false"]:not(:focus),
.opt-1 .filled:not(._error)[name="shippingAddress.street.0"] .input-text:not(:focus) {
   background-image: url(//cdn.optimizely.com/img/6092490016/a49c2b7d20a24f809ecfd75074e1e22f.png) !important;
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3Ljg1IiBoZWlnaHQ9IjYuMzUiIHZpZXdCb3g9IjAgMCA3Ljg1IDYuMzUiPjxwYXRoIGZpbGw9IiM1OUI3QjMiIGQ9Ik02LjQxIDBMMi45NCAzLjUgMS40MSAyIDAgMy40MWwyLjkxIDIuOTQgNC45NC00Ljk0TDYuNDEgMCIvPjwvc3ZnPg==) !important;
   -webkit-background-size: 15px !important;
   background-size: 15px !important;
   background-repeat: no-repeat !important;
   background-position: right 20px center !important;
}

.opt-1 ._error .input-text[aria-invalid="true"],
.opt-1 ._error .input-text {
   background-image: url(//cdn.optimizely.com/img/6092490016/ac173ad1b6cc40de937f25b3f51d7989.png) !important;
   -webkit-background-size: 12px 12px !important;
   background-size: 12px 12px !important;
   background-repeat: no-repeat !important;
   background-position: right 20px center !important;
}

.opt-1 .payment-method {
   padding: 0 20px;
}
.opt-1 .payment-method.item {
   margin-bottom: 30px;
   padding-bottom: 0px;
}
.opt-1 .checkout-container .payment-methods .form {
   padding-bottom: 0px;
}
.opt-1 .checkout-container .payment-methods small a,
.opt-1 .afterpay-payment-method .payment-method-note .link {
   font-weight: 700 !important;
   text-decoration: none;
}
.opt-1 #afterpaypayovertime-method > div.payment-method-title.field.choice > div > div > span,
.opt-1 #checkout-payment-method-load > div > div > div.payment-method.item > small > span {
   font-size: 12px;
   line-height: 17px;
}
.opt-1 .checkout-payment-method .payment-method-billing-address {
   margin-bottom: 10px !important;
}

.opt-1 #braintree_cc_type_cvv_div .field-tooltip .field-tooltip-content {
   right: 100px;
   left: initial;
   top: 55px;
}

.opt-1 #braintree_cc_type_cvv_div .field-tooltip .field-tooltip-content:before,
.opt-1 #braintree_cc_type_cvv_div .field-tooltip .field-tooltip-content:after {
   left: 70%;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   top: -20px;
}
.field-tooltip .field-tooltip-action {
   display: none;
}
.opt-1 #co-payment-form > fieldset > legend + br {
   display: none;
}


.opt-1 .afterpay-payment-method .afterpay-checkout-note ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   padding: 0 10px;
}
.opt-1 #afterpaypayovertime-method {
   padding-bottom: 0px;
}

.opt-1 #giftcard-form .large-6 {
   width: 100%;
}

.opt-1 #giftcard-form div.large-6._left {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.opt-1 .opt-edit {
   background-color: #000;
   color: white;
   padding: 5px;
   text-align: right;
   margin-right: 25px;
   cursor: pointer;
   margin-bottom: 10px;
}
.opt-1 .opt-shipping-continue {
   height: 55px;
   text-align: center;
   cursor: pointer;
   max-width: 50%;
   padding: 0 25px;
   width: 100%;
   margin-top: 25px;
}
.opt-1 .opt-shipping-continue div {
   width: 100%;
   background-color: #59B7B3;
}
.opt-1 .opt-shipping-continue span {
   font-size: 19px;
   line-height: 55px;
   width: 100%;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.opt-1.checkout-index-index .secure-pay-wrapper .info-block {
   margin-bottom: 10px;
}
.checkout-payment-method .payment-option-content .payment-option-inner + .actions-toolbar {
   float: left !important;
   margin-top: 0px;
   margin-bottom: 10px;
}
.opt-1.checkout-index-index .secure-pay-wrapper {
   padding-bottom: 0px;
   padding-left: 20px;
   padding-right: 20px;
}

.opt-1 .opt-payment-continue {
   height: 55px;
   text-align: center;
   cursor: initial;
   width: 100%;
   margin-top: 30px;
   margin-bottom: 0px;
}
.opt-1 .opt-payment-continue div {
   width: 100%;
   background-color: #59B7B3;
}
.opt-1 .opt-payment-continue span {
   font-size: 19px;
   line-height: 55px;
   width: 100%;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
}





/** BAG **/
.opt-bag-container {
   width: 34%;
   padding: 0 0 0 30px;
}
.opt-bag-item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   padding: 15px;
   margin-bottom: -1px;
}

.opt-bag-container > .opt-bag-item:last-child {
   margin-bottom: 0px;
}
.opt-details-container {
   width: 100%;
}
.opt-details-container .opt-top {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   width: 100%;
}
.opt-details-container > div {
   margin-bottom: 0;
   padding-right: 15px;
}
.opt-details-container > div > span:first-child {
   padding-right: 5px;
}
.opt-details-container > div > span {
   font-size: 14px;
   line-height: 16px;
}
.opt-quantity-container {
   padding: 15px;
}
.opt-quantity-container,
.opt-bag-item {
   border: 1px solid #cfcfcf
}
.opt-bag-item:nth-of-type(1) {
   border: 1px solid #cfcfcf;
   border-bottom: 0;
}
.cart-totals .mark,
.cart-totals .amount,
.opc-block-summary .table-totals .mark,
.opc-block-summary .table-totals .amount,
.checkout-container .table-totals .mark,
.checkout-container .table-totals .amount,
.review-container .table-totals .mark,
.review-container .table-totals .amount,
.checkout-container .table-totals .grand .mark,
.checkout-container .table-totals .shipping .mark span {
   font-size: 14px;
   line-height: 16px;
   padding: 5px 0;
   font-weight: initial;
}

.cart-totals .mark,
.cart-totals .amount,
.opc-block-summary .table-totals .mark,
.checkout-container .table-totals .mark,
.review-container .table-totals .mark {
   text-align: left;
}

.checkout-container .table-totals .grand .mark,
.checkout-container .table-totals .grand .mark span,
.checkout-container .table-totals .grand .amount strong {
   margin-top: 10px;
   font-size: 22px !important;
   font-weight: bold !important;
}
.checkout-container .table-totals .grand .amount {
   padding-bottom: 0 !important;
   padding-top: 12px !important;
}
.checkout-container .table-totals .grand .amount strong {
   font-weight: 500;
}
.checkout-container .table-totals .amount {
   width: 64px;
}
.opt-1 .opt-img-container {
   min-width: 120px !important;
   max-width: 120px !important;
}











/** optaccount **/
.opt-1 #opt-account {
   padding: 20px 20px 10px 20px;
   background: #F5F5F7;
   margin-bottom: 10px;
   margin-top: 10px;
}
.opt-1.checkout-index-index .fieldset.address fieldset.field .field {
   margin-bottom: 0;
}
.opt-1.checkout-index-index .fieldset.address fieldset.field .field:last-child {
   display: none;
}

.opt-1 .opc-wrapper .form-login .actions-toolbar > .secondary .action {
   color: #59B7B3;
   font-size: 14px;
   text-decoration: none;
}

.opt-1:not(.opt-showloginstate) .hidden-fields {
   display: none !important;
}

.opt-1 #opt-account #customer-email-fieldset .note {
   display: none;
}

.opt-1:not(.opt-showloginstate) #opt-account .facebook,
.opt-1:not(.opt-showloginstate) #opt-account .or-separator {
   display: none;
}
.opt-1 #opt-account .opt-form-toggle,
.opt-1 .opt-delivering {
   font-size: 14px;
}

.opt-1 #opt-account .opt-form-toggle span,
.opt-1 .opt-delivering a {
   color: #59B7B3;
   cursor: pointer;
}

.opt-delivering {
   margin-bottom: 10px;
}











/** input spacing **/
.opt-1 .opc-wrapper .fieldset > .field.required,
.opt-1 .opc-wrapper .fieldset > .field._required,
.opt-1.checkout-index-index .fieldset.address .field,
.opc-wrapper .field {
   margin-bottom: 10px;
}

.opt-1 .newsletter-signup a {
   display: none;
}









/** PAYMENT AREA**/
.opt-1 .checkout-payment-method .discount-code._collapsible .payment-option-title {
   display: none;
}
.opt-1 .opt-giftcard-promo-dropdown {
   display: none;
}
.opt-1 .opt-active .opt-giftcard-promo-dropdown {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
}

.opt-1 .checkout-payment-method .discount-code .gift-hint,
.checkout-payment-method .giftcardaccount .gift-hint,
.checkout-payment-method .giftcardaccount._collapsible .payment-option-title {
   display: none;
}

.opt-1 .checkout-payment-method .discount-code .payment-option-inner {
   width: 100%;
   margin-right: 10px;
}

.opt-1 .checkout-payment-method .discount-code > .payment-option-content > .form {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: end;
   -webkit-align-items: flex-end;
   -ms-flex-align: end;
   align-items: flex-end;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.opt-1 .payment-option-content ._clearfix:after,
.opt-1 .payment-option-content .helper_clearfix:after {
   display: none;
}

.opt-1 .opt-dropdown-title {
   background: white;
   border: 1px solid #D5D5D5;
   padding: 30px 15px;
}
.opt-1 .opt-dropdown-title span {
   font-family: "Open Sans";
   font-weight: normal;
   text-transform: capitalize;
}

.opt-1 .checkout-payment-method .giftcardaccount {
   margin-bottom: 0;
   border-bottom: 1px solid white;
}

.opt-1 .checkout-payment-method .giftcardaccount .actions-toolbar .action.action-check {
   text-decoration: none;
   font-weight: normal;
   color: #59B7B3;
   margin-left: 0;
   text-align: left;
}

.opt-1 .checkout-payment-method .discount-code .actions-toolbar .action,
.checkout-payment-method .giftcardaccount .actions-toolbar .action {
   width: 120px;
   min-width: initial;
}

.opt-1 #giftcard-form .payment-option-inner .field._left:nth-of-type(1) {
   width: 75%;
   margin-right: 10px;
}

.opt-1 #giftcard-form > div.payment-option-inner.large-6.small-12._left > div.field.medium-3.small-12._left {
   min-width: 120px;
}

.opt-1 .checkout-payment-method .payment-method-billing-address .billing-address-details {
   display: none;
}

.opt-1 .checkout-payment-method .payment-method {
   padding: 0;
   border: 1px solid #D5D5D5;
   margin-bottom: -1px;
}
.opt-1 .checkout-payment-method .payment-method > div {
   padding: 20px 20px;
}
.opt-1 .checkout-payment-method .payment-method._active:not(.item) > div {
   position: relative;
   border-bottom: 1px solid #D5D5D5;
   margin-bottom: 0px;
}
.opt-1 .checkout-payment-method .payment-method._active:not(.item) > div:last-of-type {
   border-bottom: 0px solid #D5d5d5;
}
html:not(.mobile) .opt-1 .checkout-payment-method .payment-method.item > div:not(.payment-method-title) {
   display: none;
}
.opt-1 .checkout-payment-method .payment-method._active .payment-method-content {
   background: #f0f0f0;
}
.opt-1 .checkout-payment-method .payment-method.payment-method-braintree .payment-method-title {
   padding-bottom: 15px;
}
#checkout-payment-method-load > div > div > div.payment-method.payment-method-braintree._active > div.payment-method-title.field.choice > label {
   margin-bottom: 0;
}
#payment_form_braintree > div.field.number.required:nth-of-type(3),
#payment_form_braintree > div.cvv {
   width: 47.5%;
}

#payment_form_braintree > div.cvv {
   float: right;
}

#payment_form_braintree > div.field.number.required:nth-of-type(3) {
   float: left;
}

.checkout-agreements-block {
   margin-bottom: 0;
}

.opt-1 .payment-method-content .messages {
   margin: 0;
}

.form-braintree .hosted-control {
   border: 1px solid #cfcfcf;
}
#co-transparent-form-braintree .opt-form-title,
#afterpaypayovertime-method .opt-form-title {
   display: none;
}
#afterpaypayovertime-method .fieldset .field.field-select-billing {
   margin: 0;
}
#co-transparent-form-braintree br {
   display: none;
}
.payment-method.item strong {
   display: none;
}





/**Logged In User**/
.logged-user #opt-account {
   display: none !important;
}

.opt-1.logged-user .opt-initialemail {
   background: #f3f3f3;
   padding: 20px 20px;
   margin-bottom: 10px;
   border: 1px solid #D5D5D5;
   ;
   border-top: 3px solid #59B7B3;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.opt-1.logged-user .opt-initialemail p {
   margin: 0;
}
.opt-1.logged-user .opt-initialemail button {
   border-color: #59B7B3;
   color: #59B7B3;
   padding: 20px
}
.opt-1.logged-user .opt-initialemail button:hover {
   border-color: #59B7B3;
   background-color: #59B7B3;
   color: white;
}

.opt-1.logged-user .opt-add-new-address {
   border: 2px solid #59B7B3;
   color: #59B7B3;
   padding: 20px;
   cursor: pointer;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 700;
   margin: 0;
   line-height: 1.7rem;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   vertical-align: middle;
   text-align: center;
   text-transform: uppercase;
   margin-top: 20px;
   margin-bottom: 20px;
}

.opt-1.logged-user #opc-delivery_notes {
   padding-top: 10px;
}
.opt-1.logged-user .opt-add-new-address:hover {
   border-color: #59B7B3;
   background-color: #59B7B3;
   color: white;
}

.opt-1 .opc-wrapper .shipping-address-item {
   width: 100%;
   background: white;
   border: 1px solid #CFCFCF;
   min-height: initial;
   font-size: 12px;
   position: relative;
   padding: 14px;
   padding-left: 65px;
   cursor: pointer;
}

.opt-1 .opc-wrapper .shipping-address-items label {
   display: none;
}

.opt-1 .opc-wrapper .shipping-address-item .action-select-shipping-item {
   display: none;
}

.opt-1 .opc-wrapper .shipping-address-item br:not(:nth-last-child(3)) {
   display: none;
}

.opt-1 .opc-wrapper .shipping-address-item br:nth-of-type(1) {
   display: block;
}

.opt-1 .opc-wrapper .shipping-address-item.selected-item:after,
.opt-1 .opc-wrapper .shipping-address-item:before {
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   position: absolute;
   top: 50%;
   content: "";
   display: block;
}

.opt-1 .opc-wrapper .shipping-address-item:before {
   left: 20px;
   top: 50%;
   border-radius: 50%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   content: "";
   background: white;
   border: 1px solid #c7c7c7 !important;
   width: 20px !important;
   height: 20px !important;
}

.opt-1 .opc-wrapper .shipping-address-item.selected-item:before {
   border-color: #59B7B3 !important;
}

.opt-1 .opc-wrapper .shipping-address-item.selected-item:after {
   margin-top: 0px;
   position: absolute;
   border-radius: 50%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   content: "";
   left: 25px;
   width: 10px !important;
   height: 10px !important;
   background: none;
   background-color: #59B7B3;
}





/** Modal CSS **/
.opt-1.opt-modal-open._has-modal {
   overflow: initial;
}

.opt-1.opt-modal-open.checkout-index-index .modal-slide,
.opt-1.opt-modal-open.checkout-index-index .modal-popup {
   position: static;
}

.opt-1.checkout-index-index .opt-initial .modal-popup,
.opt-1.checkout-index-index:not(.opt-modal-open) .modal-popup,
.opt-1.checkout-index-index:not(._has-modal) .modal-popup {
   display: none !important;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-inner-wrap {
   width: initial;
   margin: 0;
   left: 0;
   position: static;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-inner-wrap svg {
   display: none;
}

.opt-1.opt-modal-open.checkout-index-index .modals-overlay {
   display: none;
}

.opt-1.opt-modal-open.checkout-index-index .modal-slide .modal-inner-wrap,
.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-inner-wrap {
   -webkit-box-shadow: none;
   box-shadow: none;
   -webkit-transition: none;
   transition: none;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-header {
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
   position: relative;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-header .action-close {
   background: none;
   width: initial;
   top: -10px;
   right: 0px;
   color: #59B7B3;
   text-decoration: none;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .opt-form-title {
   display: none;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-header .action-close:hover {
   color: #59B7B3;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-header .action-close:after {
   content: "Close";
   text-transform: initial;
   font-size: 14px;
   text-decoration: none;
   font-family: "Open Sans";
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-title {
   text-align: left;
   padding-bottom: 0;
   font-size: 16px;
   font-family: "SuperGroteskA", "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   font-weight: 700;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-content {
   padding: 0;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-footer {
   padding: 0;
   text-align: left;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-footer button {
   float: none;
   margin-left: 0;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .modal-footer button:nth-of-type(2) {
   margin-left: 10px;
   font-weight: initial;
   text-transform: initial;
   font-size: 14px;
   text-decoration: none;
   font-family: "Open Sans";
   color: #59B7B3;
}

.opt-1.opt-modal-open.checkout-index-index .modal-popup .form-shipping-address .label[for="shipping-save-in-address-book"] {
   font-size: 14px;
   font-weight: initial;
   padding-bottom: 0;
}

.opt-1.opt-showpaymentaddress #checkout[data-state="1"] .opc-payment .fieldset {
   display: block !important;
   padding-bottom: 10px;
}

/** Careful Containers **/
.opt-carefulcontainer {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: 20px;
   background: #f2f1f2;
   border: 1px solid #d5d5d5;
}

.opt-carefulcontainer p {
   margin: 0;
}

.opt-carefulcontainer img {
   margin-right: 15px;
}

.opt-carefulcontainer > div {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.opt-carefulcontainer a {
   color: #59B7B3;
   text-decoration: underline;
}

.opt-carefulcontainer .opt-topcontainer {
   margin-bottom: 10px;
}

.opt-carefulcontainer#opt-deliverymethod-show {
   margin-top: -20px;
   margin-bottom: 20px;
}

.opt-carefulcontainer#opt-bag-show {
   border-bottom: none;
}

.opt-1 .tooltip.wrapper .toggle.icon {
   display: none;
}

@media (max-width: 1510px) {
   .opt-1 #giftcard-form .payment-option-inner .field._left:nth-of-type(1) {
       width: 100%;
       margin-right: initial;
   }
   .opt-1 #giftcard-form div.large-6._left {
       -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   }
   .opt-1 #giftcard-form > div.payment-option-inner.large-6.small-12._left > div.field.medium-3.small-12._left .detail-label {
       display: none;
   }
   #giftcard-form > div.payment-option-inner.large-6.small-12._left > div.primary._right {
       margin-top: initial;
   }
}

@media (max-width: 1470px) and (min-width: 1150px) {
   .opt-1.checkout-index-index .authoritytoleave-note {
       margin-top: -25px;
   }
}

@media (max-width: 1400px) {
   .opt-details-container > div > span {
       font-size: 11px;
       line-height: 11px;
   }
   .opt-details-container > div {
       line-height: initial;
       font-size: 12px;
   }
}

@media (max-width: 1365px) {
   .opt-1 #checkout[data-state="1"] #checkoutSteps > li {
       padding-left: 10px;
   }
   .opt-bag-container {
       padding-left: 10px;
   }
   .opt-1 .opt-payment-continue {
       margin-top: 10px;
   }
   .checkout-container .table-totals .grand .mark {
       margin-top: -10px;
   }
   .cart-totals .mark,
   .cart-totals .amount,
   .opc-block-summary .table-totals .mark,
   .opc-block-summary .table-totals .amount,
   .checkout-container .table-totals .mark,
   .checkout-container .table-totals .amount,
   .review-container .table-totals .mark,
   .review-container .table-totals .amount,
   .checkout-container .table-totals .grand .mark,
   .checkout-container .table-totals .shipping .mark span,
   .checkout-container .table-totals .grand .mark,
   .checkout-container .table-totals .grand .mark span,
   .checkout-container .table-totals .grand .amount strong {
       font-size: 12px !important;
       line-height: initial;
       padding: 0 !important;
   }
}

@media (max-width: 1200px) {
   .opt-1 .opt-bag-container {
       padding: 0 10px;
   }
   .opt-1 #checkout[data-state="1"] #checkoutSteps > li {
       padding: 0 10px;
   }

   .opt-1 .checkout-container,
   .opt-1.checkout-index-index .column.main {
       padding: 0 10px;
   }
}

/** Tablet **/
@media (max-width: 1150px) {
   .page-header.js-page-header:not(.-offset) + #maincontent .opt-bag-container {
       top: 140px;
   }
   .opt-1 #maincontent .opt-bag-container {
       margin-left: 20px;
       max-width: 400px;
       width: 100%;
   }
   .opt-1 .opt-bag-container {
       position: -webkit-sticky;
       position: sticky;
       top: 20px;
       height: 0;
   }
   .opt-breadcrumb .opt-item span {
       font-size: 20px;
   }
   .opt-1 #opt-account {
       padding: 10px 10px 5px 10px;
   }
   .opt-1 #opt-account .opt-form-toggle,
   .opt-1 .opt-delivering {
       font-size: 12px;
   }
   .opt-1 .opt-img-container {
       display: none;
   }
   .opt-1 .fieldset .field.custom input,
   .opt-1 .delivery-block .field.custom input,
   .opt-1 .shipping-availability .field.custom input,
   .opt-1 .fieldset .field select,
   .opt-1 .delivery-block .field select,
   .opt-1 .shipping-availability .field select {
       font-size: 11px;
   }
   .opt-1 .opc-wrapper .fieldset .field:not(.choice) > .label,
   .opt-1 .opc-wrapper .delivery-block .field:not(.choice) > .label,
   .opt-1 .opc-wrapper .shipping-availability .field:not(.choice) > .label {
       font-size: 11px !important;
   }
   .field-select-billing {
       margin: 0 !important;
   }
   .checkout-payment-method .payment-method .payment-method-billing-address .actions-toolbar .primary {
       padding: 10px;
   }
   .checkout-payment-method .payment-method .payment-method-billing-address .actions-toolbar > .primary {
       padding: 0;
   }
   .opt-left {
       width: 100%;
   }
   .opt-1 #checkout[data-state="1"] .opc-wrapper {
       -webkit-box-pack: justify;
       -webkit-justify-content: space-between;
       -ms-flex-pack: justify;
       justify-content: space-between;
   }
   .opt-1 #checkout[data-state="1"] #checkoutSteps {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -webkit-flex-direction: column;
       -ms-flex-direction: column;
       flex-direction: column;
       width: 60%;
   }
   .opt-1 #checkout[data-state="1"] #checkoutSteps > li {
       width: 100%;
       padding: 0;
       margin-top: 10px;
   }
   .opt-1 #checkout[data-state="1"] #checkout-step-shipping .form-login {
       margin-right: 0 !important;
       max-width: initial;
   }
   .opt-1 #checkout[data-state="1"] #co-shipping-form {
       margin-right: 0;
       max-width: initial;
   }
   .opt-1 .opt-dropdown-title {
       padding: 20px 15px;
   }
   .opt-1 .opt-DeliveryMethod-Cont .opt-delivery-line:not(.opt-hide) {
       font-size: 12px;
   }
   .opt-1 .opt-DeliveryMethod-Cont .opt-delivery-line img {
       width: 30px;
   }
   .opt-1 .opt-DeliveryMethod-Cont .opt-delivery-container p {
       margin-left: 10px;
   }
   .opt-dropdown-title span {
       font-size: 12px;
   }
   .checkout-index-index .authoritytoleave-note {
       font-size: 12px;
   }
   .opt-1 .newsletter-signup span {
       font-size: 12px;
   }
   .opt-1 .payment-method-content {
       font-size: 12px;
   }
   .afterpay-payment-method .afterpay-note-tilte {
       margin: 0;
       font-size: 14px;
   }
   .opt-1 .afterpay-payment-method .afterpay-checkout-redirect {
       max-width: 350px;
   }
   .opt-1 .opt-tablethide {
       display: none;
   }
   .opt-breadcrumb {
       margin: 15px 0;
   }
   .opt-1 .opt-tabletshow {
       display: contents;
   }
}


@media (max-width: 900px) {
   .opt-1 #maincontent .opt-bag-container {
       max-width: 320px;
   }
}

@media (max-width: 795px) {
   .opt-1.checkout-index-index .authoritytoleave-note {
       margin-top: -25px;
   }
}
@media (max-width: 765px) {
   .opt-1 #maincontent .opt-bag-container {
       max-width: 280px;
   }
}

@media (max-width: 660px) {
   .opt-1 #checkout[data-state="1"] #checkout-step-shipping .form-login {
       border-bottom: 0;
       margin: 10px 0 0;
       padding: 0;
   }
}

/** MOBILE **/
.mobile .opt-breadcrumb {
   display: none;   
}
.mobile .header-item.minicart-wrapper,
.mobile .header-item.menu-toggle {
   display: none;   
}

.mobile .header>.logo img {
   width: 128px;   
}
.mobile .opt-1 .opt-back-link {
   padding-left: 10px;
   
}

.mobile .opt-1 .page-header .header.trust {
   display: none;   
}

.mobile .opt-1 #checkout[data-state="1"] #checkoutSteps {
   width: 100%;
}

.mobile .opt-1 #checkout[data-state="1"] .opc-wrapper {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: 0;
}
.mobile  .opt-1 .page-main {
   margin-left: 0;
   margin-right: 0;
}

.mobile .opt-1 #maincontent .opt-bag-container {
   max-width: 280px;
   height: auto;
   margin: 0;
   padding: 0;
}

.mobile  .opt-1 .opt-giftcard-promo-container {
   display: none;
}
.mobile  .opt-1 #checkout-step-payment .opt-form-title {
   display: none;
}
.mobile  .opt-1 .opt-form-title {
   border-bottom: 1px solid black;
}
.mobile .opt-1 .opt-img-container {
   display: block;
   min-width: 100px !important;
   max-width: 100px !important;
}

.mobile #opc-sidebar {
}

.mobile  .opt-1 .opt-step-container {
   border: 1px solid #e9e9e9;
   border-top: 3px solid #63bfc9;
}

.mobile .opt-1 label[for="checkout-newsletter-signup"] {
   padding-left: 40px;
}

.mobile .opt-1 .newsletter-signup span {
   font-size: 10px;
}

.mobile .opt-1 .checkout-payment-method .payment-method._active .payment-method-content {
   display: none;
}

.mobile .opt-1 .types-list>.item {
   max-width: 100px;
}

.mobile .opt-1 .checkout-container .payment-methods .item>.title {
   padding-bottom: 5px;
}

.mobile .opt-1.checkout-index-index .authoritytoleave-note {
   margin-top: -15px;
}

.mobile .opt-1 .payment-method.payment-method-braintree .payment-method-title .label > strong {
   display: none;
}

.mobile .opt-1 #checkout .or-separator {
   margin-bottom: 10px;
   font-size: 10px;
}

.mobile  .opt-1 .opt-carefulcontainer p {
   font-size: 12px;
}

.mobile  .opt-1 .opt-carefulcontainer {
   border-top: 0;
}