@media(min-width: 769px){
	.opt-59 .products.product-items {
		width: calc(100% - 222px);
		float: right;
	}
	
	.opt-59 .products {
		min-height: 800px;	
	}
	#opt-filter {
		display: flex;
		background-color: #fff;
	}
	#opt-filter .block.filter {
		display: flex;
		background-color: initial;
	}
	#opt-filter #narrow-by-list > .filter {
		background-color: initial;
		top: 95px;
		left: -86px;
		width: 212px;
		position: absolute;
	}
	#opt-filter .am_shopby_state_all.reset.js-reset-filter._right {
		display: none;
	}
	#opt-filter #narrow-by-list > .filter > .dropdown {
		display: flex;
		flex-direction: column;
		background-color: initial;
		position: static;
		border: 0;
		margin-top: 0;
	}
	#opt-filter .filter-options .dropdown-container.filter>.dropdown>.actions>.action {
		border:none;
		    padding: 26px 18px 24px;
	}
	
	#opt-filter .dropdown-container.js-filters-group > .action.toggle {
		display:none;	
	}
	#opt-filter .js-filters-group > .js-filters > .filter-button {
		display:none;	
	}
	#opt-filter .dropdown-container {
		max-height: 60px;
	}
	#opt-filter .dropdown-container.active {
		max-height: initial;
	}
	#opt-filter .dropdown-container > .dropdown > .dropdown-container > .dropdown {
		position: relative;
		width: 212px;
		min-width: 212px;
	}
	#opt-filter .filter-button>.button {
		float:left;	
	}
	#opt-filter .dropdown-container > .action.active,
	#opt-filter .dropdown-container.active > .dropdown {
		border: none;
	}
	#opt-filter .filter-options .filter-options-content {
		margin-right: 15px;
		background-color: #fff;
	}
	#opt-filter .filter-options .filter-options-content .item {
		background-color: #fff;
	}
	#opt-filter .filter-options > .dropdown-container > .dropdown .filters,
	#opt-filter .filter-options > .ui-autocomplete .filters {
		padding-top: 0px;
	}
	#opt-filter .items {
		background-color: #fff;
	}
	#opt-filter .filter-options .dropdown-container>.action, #opt-filter .filter-options>.reset>.action {
		line-height:9px;	
	}
	#narrow-by-list {
		position: relative;
	}
	#opt-filter .ps-scrollbar-y-rail {
		background-color: #fff;
	}
	.items::-webkit-scrollbar-thumb {
		background-color: red;
	}
	#opt-filter .filter-options .dropdown-container,
	#opt-filter .filter-options > .reset {
		margin-bottom: 10px;
		background-color: #fff;
	}
	#opt-filter .filter-options .dropdown-container > .toggle {
		width: 100%;
	}
	#opt-filter .filter-options .dropdown-container > .action > .svg-icon,
	#opt-filter .filter-options > .reset > .action > .svg-icon {
		float: right;

	}
	#opt-filter .filter-button {
		padding-top:15px;
		border: none;
		display:flex;
	}
	
	#opt-filter .filter-button .js-clear-filter {
		border:1px solid #000;
	}
	
	#opt-filter .filter-options .dropdown-container.size>.dropdown>.filter-button>.inverted{
		width: 50%;
	}	
	#opt-filter .filter-options .dropdown-container.size>.dropdown>.filter-button>.reset {
		text-align:center;
		padding-right:0px;
	}
}
@media (min-width: 1281px) {
	.opt-59 .products-grid .product-item {
		position: relative;
		width: 20%;
	}
	
	#opt-filter #narrow-by-list > .filter > .dropdown {
		margin-top: 8px;	
	}
}
@media (max-width: 1281px) and (min-width: 769px) {
	.opt-59 .products-grid .product-item {
		position: relative;
		width: 25%;
	}
	.filter-options>.dropdown-container.filter>.dropdown {
		width: 212px;
		min-width:212px;
	}
}
@media (max-width: 1024px) and (min-width: 769px) {
	.filter-options>.dropdown-container.filter>.dropdown {
		width: 212px;
		min-width:212px;
	}
}

@media(max-width: 768px){
	.opt-59 .modal-popup.fullsizing>.modal-inner-wrap {
		
		right:0px;
		left:initial;
		position:relative;
	}
	.opt-59 .modal-popup.fullsizing {
		height:auto;
		left:initial;
		width: calc(100% - 40px);
		top:initial;
	}
	
	.opt-59 .action-close {
		display:none;	
	}
	
	.opt-59 .modals-overlay {
		    background-color: rgba(0,0,0,0.8);
	}
	
	.opt-59 .modal-header {
		display:none;	
	}
}
	
	
	