<div class="menu opt-list small-12">
    <div class="opt-greenline"></div>
    <div class="opt-accordion">
        <div class="opt-title">
            <p>HELP AND INFO</p>
        </div>
        <div class="list-elem">
            <a class="link" href="https://help.platypusshoes.com.au/hc/en-us" target="_blank">Help &amp; Contact Us</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/delivery">Delivery<br></a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/returns">Returns</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/terms-and-conditions">Terms</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/privacy-policy">Privacy<br></a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/afterpay">Afterpay</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/size-guide">Size Guide</a>
        </div>
    </div>
    <div class="opt-greenline"></div>
    <div class="opt-accordion">
        <div class="opt-title">
            <p>ABOUT PLATYPUS</p>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/about-us">About us</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/storelocator">Find a Store<br></a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/careers">Join the Team</a>
        </div>
    </div>
    <div class="opt-greenline"></div>
    <div class="opt-accordion">
        <div class="opt-title">
            <p>MORE</p>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/student-discount">UNiDAYS</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/instagram-wall">Shop Instagram</a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/blog">Blog<br></a>
        </div>
        <div class="list-elem">
            <a class="link" href="https://www.platypusshoes.com.au/click-collect">Click &amp; Collect<br></a>
        </div>
    </div>
    <div class="opt-greenline"></div>
</div>