.opt5-main .container {
    padding: 5px 12px;
}

.opt5-main .container.flexslider-banner {
    padding: 0;
    position: relative;
}

.opt5-main .flexslider-banner img {
    width: 100vw;
    max-height: 100%;
}

.opt5-main .flexslider-banner {
    width: 100%;
}

.opt5-main .flexslider-banner .slides img {
    width: 100%;
}

.opt5-main .flexslider-banner a {
    position: relative;
    display: block;
}

.opt5 .flexslider-banner .flex-control-nav.flex-control-paging {
    display: block !important;
    bottom: 5px;
}

.opt5 .flexslider-banner .flex-control-nav.flex-control-paging li a{
    background: none;
    border: 1px solid white;
    box-shadow: none;
    height: 10px;
    width: 10px;
}

.opt5 .flexslider-banner .flex-control-paging li a.flex-active {
    background: white;
}

.opt5-main .flexslider-banner button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translatex(-50%);
    background: rgb(255, 253, 239);
    border: none;
    color: black;
    font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif;
    
}
.page-wrapper {
    padding-top: 0 !important;
}

.opt5-main .opt5-delivery {
    background-color: #59b7b3;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    text-transform: uppercase;
    padding-top: 66px;
}

.opt5-main .opt5-delivery img {
    max-height: 15px;
    margin-left: 10px;
    margin-bottom: -2px;
    filter: invert(1)
}

.opt5-main .opt5-banner {
    width: 100%;
}

.opt5-main .opt5-menu {
    display: flex;
    flex-wrap: wrap;
}

.opt5-main .opt5-menu div {
    width: 50%;
    border-bottom: 1px solid #59b7b3;
    padding: 24px 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.opt5-main .opt5-menu div:nth-child(odd) {
    /*border-right: 1px solid #59b7b3; */
}
.opt5-main .opt5-menu div:nth-child(even) {
    border-left: 1px solid #59b7b3;
}
.opt5-main .no-border-bottom {
    border-bottom: none !important;
}

.opt5-main .opt5-title {
    text-align: center;
    position: relative;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: -2px;
}
.opt5-main .opt5-title:after,
.opt5-main .opt5-title:before {
    content: '/////////////////////////////////////////';
    color: #59b7b3;
    position: absolute;
    top: 1px;
}
.opt5-main .opt5-title:after {
    left: 0;
}
.opt5-main .opt5-title:before {
    right: 0;
}
.opt5-title span {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 2;
    position: relative;
    font-size: 18px;
    padding: 0 8px;
    letter-spacing: 0px;
}

.opt5-main .opt5-arrivals {
    margin-bottom: 0;
    padding: 0;
}
.opt5-main .opt5-arrivals li {
    box-shadow: 0px 0px 8px #e2dfdf;
    border-radius: 8px;
    padding: 10px;
    margin: 3px 0px 5px 0px;
}
.opt5-main .opt5-arrivals li img {
    
}
.opt5-main .opt5-arrivals li .opt5-brand {
    display: block;
    text-transform: uppercase;
    padding: 5px 0 2px 0;
    display: block;
    font-weight: 400;
    font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #eee;
    margin-top: 5px;
}
.opt5-main .opt5-arrivals li .opt5-name {
    display: block;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.opt5-main .opt5-arrivals li .opt5-price {
    display: block;
    font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2px;
}

.opt5-main .opt5-viewMore {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.opt5-main .opt5-viewMore a {
    color: initial;
    font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-decoration: underline;
    font-size: 10px;
    color: #7A8492;
}


/* flexslider */
.opt5 .flex-direction-nav .flex-next,
.opt5 .flex-direction-nav .flex-prev,
.opt5 .flex-control-nav.flex-control-paging,
.opt5 .flex-direction-nav {
    display: none;
}


/* BRANDS */
.opt5-main .opt5-brands {
    background: black;
    margin-top: 20px;
    border-bottom: 6px solid white;
    padding: 5px 0;
}

.opt5-main .opt5-brands .container {
    padding: 5px 0;
}

.opt5-main .opt5-brands .slides {
    display: flex;
    align-items: center;
}

.opt5-main .opt5-brands .slides li {
    text-align: center;
}


.opt5-brands .slides img {
    max-height: 50px;
}

/* FOOTER */

.opt5 .opt-fotter .block.newsletter .input {
    border: 2px solid #63bfbc;
}
  .opt5 .opt-footer {
    background-color: #000;
    position: relative;
    padding: 25px 10px 30px 10px;
      padding-bottom: 80px;
      overflow: hidden;
}
.opt5 .opt-footer .footer-social > div {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.opt5 .opt-footer .footer-social {
    margin-bottom: 20px;
}
.opt5 .opt-footer .newsletter {
    color: white;
}
.opt5 .opt-footer .list-item {
    margin-right: 15px;
}
.opt5 .opt-footer .list-item svg {
    color: white;
    height: 38px;
    width: 38px;
}
.opt5 .opt-footer .block.newsletter > .title {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.opt5 .opt-footer .description {
    font-size: 12px;
    font-weight: 100;
}

.opt5 .opt-footer .opt-signup {
    margin-bottom: 30px;
}
.opt5 .opt-footer .opt-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.opt5 .opt-footer .opt-list a {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}
.opt5 .opt-footer .opt-list p {
    color: white;
    font-family: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    position: relative;
    margin: 0;
    line-height: initial;
}

.opt5 .opt-footer .opt-list p:after {
    content: "";
    position: absolute;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5LjYwMyA1LjkyMiI+PHBhdGggZmlsbD0iIzU5QjdCMyIgZD0iTTkuNjAzIDEuMTJMOC40OCAwIDQuOCAzLjY4IDEuMTIzIDAgMCAxLjEybDQuOCA0LjgwMiIvPjwvc3ZnPg==);
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-position: center 50%;
    right: 0;
}

.opt5 .opt-footer .opt-list .opt-accordion.opt-show p:after {
    transform: rotate(180deg);
}

.opt5 .opt-footer .list-elem,
.opt5 .opt-footer .opt-title {
    padding: 10px 20px;
}
.opt5 .opt-footer .opt-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.opt5 .opt-footer .opt-accordion.opt-show .opt-title {
    padding-bottom: 10px;
}

.opt5 .opt-footer .opt-accordion > div:last-of-type {
    padding-bottom: 20px;
}
.opt5 .opt-footer .opt-list > .list-elem {
    width: 100%;
    margin-bottom: 18px;
    font-size: 12px;
    text-transform: uppercase;
}

.opt5 .opt-footer .opt-footer-logo {
    text-align: right;
    height: 40px;
}

.opt5 .opt-payment-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}
.opt5 .opt-payment-types .svg-icon {
    color: white;
    width: 40px;
    margin-right: 4px;
}
.opt5 .opt-payment-types div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    height: auto;
}
.opt5 .opt-payment-types div img {
    width: 110px;
}

.opt5 .opt-secure span {
    color: white;
    font-size: 11px;
}

.opt5 .opt-secure {
    margin-top: 5px;
    text-align: left;   
}

.opt-accordion .list-elem {
    display: none;
}
.opt-accordion.opt-show .list-elem {
    display: block;
}
.opt-greenline {
    height: 1px;
    width: 200vw;
    background: #63bfbc;
    margin-left: -100vw;
}
