.OptimizelyTest #amasty-shopby-product-list {background-color:#ffffff; position:relative; width:100%;}
.OptimizelyTest.catalog-category-view .main-wrapper {background-color:#ffffff;}



/***** Banner *****/
.OptimizelyTest .category-image.banner {background-color:#59B7B3; min-height:220px;}
.OptimizelyTest .category-image.banner img {display:none !important;}
.OptimizelyTest .category-view h1.page-title {font-size:50px; line-height:56px; font-weight:normal;}
.OptimizelyTest .category-view p {font-size:16px; line-height:22px;}
.OptimizelyTest .category-view .category-description {max-width:774px;}




/***** Categories General *****/
.OptimizelyTest .category-item a {display:block; position:relative;}
.OptimizelyTest .category-item img {display:block; max-width:none; width:100%; height:auto;}
.OptimizelyTest .category-item .title {display:inline-block; position:absolute; width:200px; margin-left:-100px; left:50%; bottom:40px; height:52px; background-color:#ffffff; border:2px solid #000000; text-transform:uppercase; text-transform:uppercase; color:#000000; font-size:18px; line-height:36px; font-family:'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif; font-weight:700; text-align:center; padding:7px 15px;}


/***** Top Categories *****/
.OptimizelyTest .top-categories {padding-top:40px;}
.OptimizelyTest .top-categories .category-item {float:left; width:48.5%; margin-right:3%;}
.OptimizelyTest .top-categories .category-item.category-item-2 {margin-right:0;}
.OptimizelyTest .top-categories:after {content:""; display:table; clear:both;}




/***** Middle Categories *****/
.OptimizelyTest .middle-categories .column {float:left; width:33.5%; margin-right:3%; padding:0;}
.OptimizelyTest .middle-categories .column.column-2 {width:27%;}
.OptimizelyTest .middle-categories .column.column-3 {margin-right:0;}
.OptimizelyTest .middle-categories .column.column-2 .category-item {margin-top:6.3%;}
.OptimizelyTest .middle-categories .column.column-2 .category-item:first-of-type {margin-top:0;}
.OptimizelyTest .middle-categories .column .category-item .title {left:40px; margin-left:0;}
.OptimizelyTest .middle-categories:after {content:""; display:table; clear:both;}




/***** Bottom Categories *****/
.OptimizelyTest .bottom-categories {padding-top:40px;}
.OptimizelyTest .bottom-categories .category-item {float:left; width:48.5%; margin-right:3%;}
.OptimizelyTest .bottom-categories .category-item.category-item-8 {margin-right:0;}
.OptimizelyTest .bottom-categories .category-item .title {left:40px; margin-left:0;}
.OptimizelyTest .bottom-categories:after {content:""; display:table; clear:both;}



/***** Brands *****/
.OptimizelyTest .brands {text-align:center; overflow:hidden; position:relative; background-color:#ffffff; width:100%;}
.OptimizelyTest .brands .flexslider {position:relative; padding:0 67px;}
.OptimizelyTest .brands .flexslider .prev-arrow {position:absolute; left:15px; top:50%; margin-top:-16px;}
.OptimizelyTest .brands .flexslider .next-arrow {position:absolute; right:15px; top:50%; margin-top:-16px;}
.OptimizelyTest .brands .slides {margin:0; padding:0;}
.OptimizelyTest .brands .slides li {margin:0; padding:0;}
.OptimizelyTest .brands .slides li a {display:block; opacity:0.8; height:120px; line-height:120px;}
.OptimizelyTest .brands .slides li a:hover {opacity:1;}
.OptimizelyTest .brands .slides li a img {display:inline-block; margin:0; max-width:100px; max-height:80px; height:auto; width:auto; vertical-align:middle;}
.OptimizelyTest .optText {font-size: 10px !important; color: white !important; text-align: center; padding-bottom: 10px;}
.OptimizelyTest .page-title {color: white !important;}

    
/***** Media Queries *****/
@media only screen and (max-width: 1100px){
    /***** Banner *****/
    .OptimizelyTest .category-image.banner {min-height:200px;}
    .OptimizelyTest .category-view .category-description {max-width:none;}
    .OptimizelyTest .category-view .content {width:90%;}
    
    
    /***** Categories General *****/
    .OptimizelyTest .category-item .title {width:130px; margin-left:0; left:20px; bottom:20px; height:40px; font-size:14px; line-height:30px; padding:4px 5px;}
    
    .OptimizelyTest .top-categories {padding-top:0;}
    .OptimizelyTest .top-categories .category-item {float:none; width:auto; margin-right:0; margin-top:20px;}
    .OptimizelyTest .top-categories .category-item.category-item-1 {margin-top:0;}

    .OptimizelyTest .middle-categories .column {float:none; width:auto !important; margin-right:0 !important; width: 100%;}
    .OptimizelyTest .middle-categories .column .category-item {margin-top:20px !important; float:left; width:48.5%; margin-right:3%;}
    .OptimizelyTest .middle-categories .column .category-item:nth-child(2n) {margin-right:0;}
    .OptimizelyTest .middle-categories .column .category-item:nth-child(2n+1) {clear:left;}
    .OptimizelyTest .middle-categories .column .category-item .title {left:20px;}
    .OptimizelyTest .middle-categories .column .category-item.category-item-3 {margin-top:0 !important;}
    .OptimizelyTest .middle-categories .column .category-item.category-item-4 {margin-top:0 !important;}
    .OptimizelyTest .middle-categories .column .category-item img {height:500px; object-fit:cover;}
    .OptimizelyTest .middle-categories .column:after {content:""; display:table; clear:both;}
    
    .OptimizelyTest .bottom-categories {padding-top:0;}
    .OptimizelyTest .bottom-categories .category-item {float:none; width:auto; margin-right:0; margin-top:20px;}
    .OptimizelyTest .bottom-categories .category-item .title {left:20px;}
    
    
    /***** Brands *****/
    .OptimizelyTest .brands .flexslider {padding:0 50px;}
    .OptimizelyTest .brands .flexslider .prev-arrow {left:10px; margin-top:-12px;}
    .OptimizelyTest .brands .flexslider .prev-arrow svg {width:24px; height:24px;}
    .OptimizelyTest .brands .flexslider .next-arrow {right:10px; margin-top:-12px;}
    .OptimizelyTest .brands .flexslider .next-arrow svg {width:24px; height:24px;}
    .OptimizelyTest .brands .slides li a {height:110px; line-height:110px;}
    .OptimizelyTest .brands .slides li a img {max-height:56px; max-width:80px;}
}


@media only screen and (max-width: 750px){
    .OptimizelyTest.catalog-category-view .page-main {background-color:#ffffff; padding-left:0; padding-right:0; padding-bottom:20px;}
    
    /***** Banner *****/
    .OptimizelyTest .category-view h1.page-title {font-size:30px; line-height:36px;}
    
    
    /***** Categories General *****/
    .OptimizelyTest .middle-categories .column .category-item {float:none; width:auto; margin-right:0;}
    .OptimizelyTest .middle-categories .column .category-item.category-item-4 {margin-top:20px !important;}
    .OptimizelyTest .middle-categories .column .category-item img {height:250px;}
    
    
    /***** Brands *****/
    .OptimizelyTest .brands .flexslider {padding:0 40px;}
    .OptimizelyTest .brands .flexslider .prev-arrow {left:10px; margin-top:-10px;}
    .OptimizelyTest .brands .flexslider .prev-arrow svg {width:20px; height:20px;}
    .OptimizelyTest .brands .flexslider .next-arrow {right:10px; margin-top:-10px;}
    .OptimizelyTest .brands .flexslider .next-arrow svg {width:20px; height:20px;}
    .OptimizelyTest .brands .slides li a {height:90px; line-height:90px;}
    .OptimizelyTest .brands .slides li a img {max-height:50px; max-width:90px;}
  
    .OptimizelyTest .category-view {background: #59B7B3}
}